@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background: rgba(175, 167, 167, 0.769);
}


/* HEADER SECTION START */
.header-container{
    padding: 10px 10px;
    justify-content: flex-end;
    width: 100%;
    height: 8.2%;
    display: flex;
    border-bottom: 1px solid rgb(239,39,3);
    background: rgba(239, 39, 3, .8);
    position: fixed;
}

.Logo{
    margin-right: auto;
}

.Logo h1{   
    color: white;
    cursor: pointer;
}

.Logo h1:hover{   
    border-bottom: 2px solid white;
    color: rgb(0, 0, 0);
}

.header-container li, a, button{
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: red;

}
.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 10px 10px;

    
    
}

.nav-links li:nth-child(1){
    padding: 10 20px 0 0 ;    
}

.nav-links a{
    
    color: rgb(255, 255, 255);
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li:hover{
    
    border-bottom: 2px solid rgb(255, 255, 255);
}

.nav-links a:hover{
    color: rgb(0, 0, 0);
}

.header-container button{
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgb(239, 39, 3);
    color: rgb(255, 254, 254);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.header-container button:hover{
    background: rgb(255, 255, 255);
    color: red;
}


/* HEADER SECTION END */



/* ABOUT THE HOOLIGANS SECTION */
.AboutTH-container{
    padding: 0 20px 20px 20px;
    width: 100%;
    cursor: pointer;
    background: url(/images/TheHooligans.png) no-repeat center;
    background-size: 59%;
}
.AboutTH-container .Headings{
    font-size: 2rem;
    text-align: center;
    padding: 4.5rem 15px 20px 0;
    color: rgb(239, 39, 3);
    text-shadow: 0 5px 10px rgb(0, 0, 0);
}

.AboutTH-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 3fr));
    gap:15px;
}

.AboutTH-container .box-container .box{
    box-shadow: 0 5px 10px rgb(0, 0, 0, .2);
    border-radius: 5px;
    background: rgba(0, 0, 0, .75);
    text-align: center;
    padding: 30px 20px;

}

.AboutTH-container .box-container .box img{
    height: 80px;
}

.AboutTH-container .box-container .box h1{
    color: rgb(239, 39, 3);
    font-size: 1.2rem;
    padding: 10px 0;
}

.AboutTH-container .box-container .box p{
    color: rgb(239, 39, 3);
    font-size: 1rem;
    line-height: 1.5rem;
}

.AboutTH-container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, .7);
    transform: scale(1.04);
}




/* ABOUT THE HOOLIGANS SECTION END*/

/* <!-- GAME PLAY SECTION START --> */


.Gameplay-container{
    width: 100%;
    background: white;
    background-size: 50%;
}

.gameplay-wrapper .gameplaysection-header{
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(175, 167, 167, 0.769);
}
.gameplay-wrapper .gameplaysection-header h1{
    font-size: 2rem;
    padding: 13px;
    color: rgb(239, 39, 3);

}


.shooting-game{
    align-items: center;
    background: rgba(175, 167, 167, 0.769);
    display: flex;
}

.shooting-game .shoot-info{
    align-items: center;
    text-align: center;
    color: rgb(239, 39, 3);

}

.shooting-game .shoot-info h3{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 15px;
}

.shooting-game .shoot-info p{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
}


.Role-playing{
    background: rgba(175, 167, 167, 0.769);
    display: flex;
    align-items: center;
}

.Role-playing .roleplay-info{
    align-items: center;
    text-align: center;
    color: rgb(239, 39, 3);

}

.Role-playing .roleplay-info h3{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 15px;
}

.Role-playing .roleplay-info p{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
}

.CommunityInteraction{
    background: rgba(175, 167, 167, 0.769);
    display: flex;
    align-items: center;
}

.CommunityInteraction .community-info{
    align-items: center;
    text-align: center;
    color: rgb(239, 39, 3);

}

.CommunityInteraction .community-info h3{
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 15px;
}

.CommunityInteraction .community-info p{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* <!-- GAME PLAY SECTION ENDS --> */

/* <!-- Game activities starts --> */

.game-section-cards{
    background: rgba(175, 167, 167, 0.769);

    
    
}

.GM-headings{ 
    background: rgba(175, 167, 167, 0.769);
    font-size: 2rem;
    text-align: center;
    color: rgb(239, 39, 3);
}
.game-section-cards{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 40px 15px ;
    overflow: hidden;
}
.game-section-cards .card{
    background-color: rgba(0, 0, 0, .8);
    display: block;
    
    width: 350px;
    height: 450px;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 0px 100px 0px 35px;
    
}
.game-section-cards .card img{
    margin: 10px 17.5px 10px ;
    width: 90%;
    height: 50%;
    
}
.game-section-cards .card .content{
    width: 100%;
    height: 50%;  
}

.game-section-cards .card .content p{
    font-size: 1.22rem;
    color: rgb(244, 232, 230);
    justify-content: center;
    text-align: center;
}
.game-section-cards .card .content h3{
    font-size: 1.22rem;
    color: rgb(244, 232, 230);
    justify-content: center;
    text-align: center;
}

/* <!-- Game activities ends --> */
/* Footer Section */

.footer{
    max-width: 75%;
    margin: 2rem auto;
    overflow: auto;

}

.Footer-container{
    background: black;

}

.footer, .footer-col a{
    color: #de4001;
    font-size: .9rem;

}

.footer, .footer-reserves p{
    margin-bottom: .9rem;
    padding: 15px;
    color: white;
}

.footer, .footer-col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer, .footer-col li{
    line-height: 1.9rem;
}
/* Footer section end */

@media(max-width: 600px){

    .header-container .Logo h1{
        display: flex;
        font: 4rem;
    }

    .nav-links{

    }
    



}