@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.BlackBG{
    background: black;
}
.Login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/images/TheHooligans.png) no-repeat;
    background-size: 59%;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}

.login-container{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid rgb(239, 39, 3);
    backdrop-filter: blur(2px);
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: lem;
    color: white;
    padding: 0 8px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    line-height-step: 57px;

}

.remember-me-box{
    margin: -15px 0 15px;
    font-size: .9rem;
    color: white;
    display: flex;
    justify-content: space-between;

}

.remember-me-box label input{
    margin-right: 3px;

}

.remember-me-box a {
    color: white;
    text-decoration: none;
}

.remember-me-box a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.register-section{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
}

.register-section p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-section p a:hover{
 text-decoration: underline;
}

@media (max-width: 390px){
    .Login-box{
        background-size: 70%;
    }
    .Login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
        
    }
}