@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&display=swap');


:root{

    --primary-color: #f43d05;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background: black;
    color: white;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4{
    line-height:  3rem;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

img {
    width: 100%;
}

/* Header */

.main-header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(/images/TheHooligans.png) no-repeat center center/cover;
    background-size: 59%;
}

.main-header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;


}

.header-top{
    position: relative;
    height: 90px;
    z-index: 2;
}

.header-top .logo{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-top a{
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(-50%, -50%);
}

.header-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}

.header-content h1{
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.3rem;
    margin: 0 0 2rem;

}

.header-content p{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25rem;
    margin: 1rem 2rem;

}

.header-content a{
    border-radius: 0.5;
    margin-top: 2rem;
}


/* Section-Gallery*/

section.gallery{
    background: black;
    width: 100%;
}

section.gallery .gallery-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "box1 box2 box2"
    "box1 box3 box3";

}

section.gallery .gallery-container a:first-child{
    grid-area: box1;
    padding: 1rem;
}

section.gallery .gallery-container a:nth-child(2){
    grid-area: box2;
    padding: 1rem;
}


section.gallery .gallery-container a:last-child{
    grid-area: box3;
    padding: 1rem;
}


.img-container{
    position: relative;
    display: inline-block;
}

.img-container .text-container{
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    transition: all .3s ease-in-out;
}

.img-container .text-container:hover{
    opacity: 1;
}

.img-container .text-container{    font-size: 3rem;
    line-height: 3rem;
}

.about-section{
    position: relative;
    background: url(/images/TheHooligansSignature.png) no-repeat center center/cover;
    height: 400px;
}

.about-section-inner{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.about-section-inner h3{
    font-size: 3rem;
}

.about-section-inner h2{
    font-size: 5rem;
    line-height: 5rem;
    margin-top: 1rem;
}

.about-section-inner p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* News letter Section */

.news-letter{
    width: 100%;
    height: 400px;
    background: rgb(19, 19, 19);
}

.news-letter-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}



.news-letter-inner h2{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.email-form{
    width: 100%;
    display: inline-block;
    background-color: #f93701;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-size: inherit;
    margin: 0;
    padding: 0 3rem o 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #de4001;
    cursor: pointer;
    border-radius: 0 20px 20px 0;

}









/* FOOTER */

.footer{
    max-width: 75%;
    margin: 2rem auto;
    overflow: auto;

}

.footer, .footer-col a{
    color: #de4001;
    font-size: .9rem;

}

.footer, .footer-reserves p{
    margin-bottom: 1.5rem;
}

.footer, .footer-col{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.footer, .footer-col li{
    line-height: 1.9rem;
}


/* Utilities*/

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.btn{

    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-sizing: 0 1px 0 rgba(248, 245, 245, 0.45);
    border-style: 2px;
}

.btn::hover{
    opacity: 0.9;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 1.8rem;
    padding: 1rem 2.1rem;
    border-radius: 10px;
    text-transform: uppercase;

}

.btn-lg{
    font-size: 1.2rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.fa-fw{
    margin: 1rem;
    
}

/* media Queery */

@media (max-width: 844px){


    .main-header{
        background-size: 150%;
    }
    .header-top a{
        top: 90%;
        right: 26%;
        transform: translate(-90%, -22%);
    }

    .header-content{
        margin-top: 25%;
    }

    .header-content h1{
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .header-content p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .btn-xl{
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }

    section.gallery .gallery-container{
        grid-template-areas: "box1" "box2" "box3";
        grid-template-columns: 1fr;
    }


    section.about-section .overlay{
        margin-top: -5%;

    }
    .about-section-inner h2{
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .about-section-inner h3{
        font-size: 4rem;
        line-height: 3.8rem;
    }

    .about-section-inner p{
        font-size: 1rem;
        line-height: 1rem;
    }


    .news-letter-inner {
        text-align: center;
    }

    .email-form{
        width: 95%;
    }

    footer .footer-col{
        grid-template-columns: repeat(2, 1fr);
    }
}